body, html {
    height: 100%;
}
body {
    background: #f4f4f4 url(worldpoliticallarge.jpg) top center no-repeat;
    background-attachment: fixed;
    background-size: auto 100%;
    border-top: 5px solid #112b5d;
}


/*********
/* LAYOUT
/*********/
#main {
    width: 100%;
    margin: 0 auto;
    padding-left: 1em;
    position: relative;
}
header {
    width: 100%;
    background: rgba(80,128,255,.8) url(header_icons_shadowed.png) 5px 3px no-repeat;
    margin-bottom: 1em;
    padding: 0.5em;
    box-shadow: 0 0 6px rgba(0,0,0,0.4);
}
header h1 {
    color: white;
    margin-left: 200px;
}
section {
    margin: 1em;
    margin-top: 0;
    margin-left: 0;
    padding: 0.7em;
    background: rgba(239,239,239,0.75);
    border: 1px solid #999;
    border-radius: 8px;
    box-shadow: 0 0 6px rgba(0,0,0,0.4);
}
section#player-list {
    float: left;
    width: 25%;
}
section#card {
    float: left;
    width: 55%;
}
section#output {
    width: auto;
    position: relative;
}


/*******
/* TEXT
/*******/
h1 {
    font-size: 2.2rem; /* GET DISPLAY FONT */
    font-weight: bold;
    color: white;
    text-shadow: -1px -1px 1px #512262;
}
h2 {
    font-size: 1.4rem;
}
h3 {
    font-size: 1.8rem;
}
h4 {
    font-size: 1.1rem;
}


/*********
/* OUTPUT
/*********/
#output pre code {
    display: block;
    width: 100%;
    height: 13rem;
    resize: vertical;
    padding: 4px;
    overflow-y: scroll;
    background: rgba(80,80,80,0.75);
    color: white;
    font-size: 0.9em;
    box-shadow: inset 2px 4px 2px 0px #666;
    border: 1px solid white;
    border-top: black;
    border-left: black;
}
hr.dashed-line {
    height: 0;
    margin: 0;
    border-bottom: 1px dashed #ccc !important;
}
.player { color: yellow; }
.category,
.data { color: turquoise; }
.country {color: salmon; }

#face {
    position: absolute;
    top: 50%;
    right: 20px;
    width: 100px;
    opacity: 1;
    transform-origin: center center;

    animation: expanding 1s linear both;
}
@keyframes expanding {
    to {
        transform: scale(4);
        opacity: 0;
    }
}


/*******
/* CARD
/*******/
.card-front {
    border: 1px solid #ccc;
    border-radius: 5px;
}
.card-front div {
    padding: 0.5em 1em;
    border-bottom: 1px solid #ccc;
}
.card-front div:last-child {
    border: 0;
}
.flag {
    float: left;
    margin-right: 4px;
}
.card-front button,
.card-front a {
    margin-bottom: 0.4em;
    font-size: 0.9em;
    color: #5080ff;
}
.card-front button:hover,
.card-front a:hover {
    background: #5080ff;
    color: white;
}
.card .footer {
    font-size: 0.7rem;
    text-align: center;
}
#card {
    position: relative;
}
#msg {
    position: absolute;
    right: 15px;
    top: 5px;
    color: #5080ff;
    display: none;
}
#timer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: #5080ff;
    display: none;

    animation: shrinking 7s linear both;
    animation-play-state: running;
}
@keyframes shrinking {
    to {
        width: 0;
    }
}
.paused {
    -webkit-animation-play-state:paused;
    -moz-animation-play-state:paused;
    -o-animation-play-state:paused;
    animation-play-state:paused;
}


/***************
/* FLIPPABILITY
/***************/
/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
    overflow: hidden;    /* allows card to go offscreen without scrollbars */
}
/* offscreen card position for before viewing */
.flip-container.pre-flip .card {
	transform: translateX(600px) rotateY(180deg);
}
/* offscreen card position for after viewing */
.flip-container.post-flip .card {
	transform: translateY(1000px);
}
/* all necessary? */
.flip-container, .card, .card-front, .card-back {
	width: 500px;
	height: 750px;
}
/* flip speed goes here */
.card {
	transition: 0.5s;
	transform-style: preserve-3d;
	position: relative;
}
/* hide back of pane during swap */
.card-front, .card-back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
/* front pane, placed above back */
.card-front { transform: rotateY(0deg); z-index: 2; }
/* back, initially hidden pane */
.card-back { transform: rotateY(180deg); background: url(cardback.png) repeat; }


/*******
/* LIST
/*******/
#player-list table {
    width: 100%;
    padding: 0.5em;
    background: rgba(200,200,200,0.8);
    border: 1px solid #999;
    min-height: 75px;
    margin-bottom: 1em;
    border-collapse: separate;
}
#player-list tr {
    width: 100%;
    padding-left: 0;
}
#player-list td:first-child {
    font-weight: bold;
    width: 50%;
}
td.card-tot,
td.win-tot {
    width: 25%;
    font-size: 0.8em;
    line-height: 1.25em;
    color: #666;
    padding-top: 5px;
}
.leader td:first-child {
    color: #5080ff;
}


/********
/* MODAL
/********/
.modal-header,
.modal-body,
.modal-footer {
    text-align: center;
}
