body, html {
    height: 100%;
}
body {
    background: #f4f4f4 url(worldpoliticallarge.jpg) top center no-repeat;
    background-attachment: fixed;    /* TODO: find better setting */
    xbackground-size: auto 100%;
    border-top: 5px solid #112b5d;
    position: relative;
    box-shadow: none;
    -webkit-transition: box-shadow 0.6s linear;
    transition: box-shadow 0.6s linear;
}
body.win {
    box-shadow: inset 0 0 50px 30px green;
}
body.lose {
    box-shadow: inset 0 0 50px 30px salmon;
}


/*********
/* LAYOUT
/*********/
#main {
    width: 100%;
    min-width: 530px;
    margin: 0 auto;
    padding-left: 1em;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
header {
    width: 100%;
    position: relative;
    background: rgba(80,128,255,.8) url(header_icons_shadowed.png) 5px 3px no-repeat;
    margin-bottom: 1em;
    padding: 0.5em;
    box-shadow: 0 0 6px rgba(0,0,0,0.4);
}
section {
    margin: 1em;
    margin-top: 0;
    margin-left: 0;
    padding: 0.7em;
    background: rgba(239,239,239,0.75);
    border: 1px solid #999;
    border-radius: 8px;
    box-shadow: 0 0 6px rgba(0,0,0,0.4);
}
section#output-pane {
    width: 98%;
    position: relative;
}
section#player-list-pane {
    xfloat: left;
    width: 25%;
    min-width: 225px;
}
section#card-pane {
    xfloat: left;
    width: 527px;
    position: relative;
}
@media (max-width: 815px) {
    /* Relegate player list on smaller devices */
    section#player-list-pane {
        order: 2
    }
    section#card-pane {
        order: 1
    }
}


/*******
/* TEXT
/*******/
header h1 {
    color: white;
    text-shadow: -1px -1px 1px #512262;
    margin-left: 200px;
    font-family: 'Ranga', cursive;
    font-weight: 700;
    font-size: 44px;
}
h2 {
    font-size: 1.4rem;
}
h4 {
    font-size: 1.1rem;
}
h5 {
    font-size: 1rem;
}


/*********
/* OUTPUT
/*********/
#output-pane pre code {
    display: block;
    width: 100%;
    height: 13rem;
    resize: vertical;    /* no support in IE8-11, Edge, Android */
    padding: 4px;
    overflow-y: scroll;
    background: rgba(80,80,80,0.75);
    color: white;
    font-size: 0.9em;
    box-shadow: inset 2px 4px 2px 0px #666;
    border: 1px solid white;
    border-top: black;
    border-left: black;
}
hr.dashed-line {
    height: 0;
    margin: 0;
    border-bottom: 1px dashed #ccc !important;
}
.player { color: yellow; }
.category,
.data { color: turquoise; }
.country {color: salmon; }

#face {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    opacity: 1;
    -webkit-transform-origin: center center;
    transform-origin: center center;

    -webkit-animation: expanding 1s linear both;
    animation: expanding 1s linear both;
}
@keyframes expanding {
    to {
        transform: scale(8);
        opacity: 0;
    }
}


/*******
/* CARD
/*******/
.card-front,
.card-back {
    border: 1px solid #ccc;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;        /* no support in IE 8-9, partial in IE 10-11 */
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: start;
    align-content: flex-start;
}
.card-front div {
    padding: 0.5em 1em;
    border-bottom: 1px solid #ccc;
    width: 50%;
}
.card-front div:first-child,
.card-front div:nth-child(2) {
    width: 100%;
}
.card-front h3 {
    font-size: 1.8rem;
    margin-top: 1rem;
    display: inline-block;
    width: 300px;        /* because flag and map need to fit on same line */
}
.flag {
    float: left;
    margin-right: 6px;
}
.map {
    float: right;
}
.card:not(.your-turn) {
    cursor: not-allowed;
}
.card a,
.card a:hover {
    margin-bottom: 0.4em;
    font-size: 0.9em;
    color: #999;
    cursor: not-allowed;
}
.card.your-turn a {
    color: #5080ff;
    cursor: pointer;
}
.card.your-turn a:hover {
    background: #5080ff;
    color: white;
}
#card-pane .footer {
    font-size: 0.7rem;
    text-align: center;
}
#msg {
    position: absolute;
    right: 15px;
    top: 5px;
    color: #5080ff;
    display: none;
}
#timer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: #5080ff;
    display: none;

    -webkit-animation: shrinking 7s linear both;
    animation: shrinking 7s linear both;    /* no support in IE 8-9 */
    -webkit-animation-play-state: running;
    animation-play-state: running;
}
@keyframes shrinking {
    to {
        width: 0;
    }
}
.paused {
    -webkit-animation-play-state:paused;
    animation-play-state:paused;
}


/***************
/* FLIPPABILITY
/***************/
/* entire container, keeps perspective */
.flip-container {
    -webkit-perspective: 1000px;
	perspective: 1000px;
    overflow: hidden;    /* allows card to go offscreen without scrollbars */
}
/* offscreen card position for before viewing */
.flip-container.pre-flip .card {
    -webkit-transform: rotateY(180deg) translateX(600px);    /* no support in IE 8-9 */
	transform: rotateY(180deg) translateX(600px);    /* no support in IE 8-9 */
}
/* offscreen card position for after viewing */
.flip-container.post-flip .card {
    -webkit-transform: translateY(1000px);
	transform: translateY(1000px);
}
/* all necessary? */
.card {
    width: 510px;
	height: 610px;
}
/* flip speed goes here */
.card {
    -webkit-transition: 0.8s;
	transition: 0.8s;
	-webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
	position: relative;
}
/* hide back of pane during swap */
.card-front, .card-back {
    -webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
    width: 500px;
	height: 600px;
}
/* front pane, placed above back */
.card-front {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    z-index: 2;
}
/* back, initially hidden pane */
.card-back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    background: url(cardback.png) repeat;
}


/*******
/* LIST
/*******/
#player-list-pane table {
    width: 100%;
    padding: 0.5em;
    background: rgba(200,200,200,0.8);    /* no rgba in IE8 */
    border: 1px solid #999;
    min-height: 75px;
    margin-bottom: 1em;
    border-collapse: separate;
}
#player-list-pane tr {
    width: 100%;
    padding-left: 0;
}
#player-list-pane td:first-child {
    font-weight: bold;
    width: 50%;
}
td.card-tot,
td.win-tot {
    width: 25%;
    font-size: 0.8em;
    line-height: 1.25em;
    color: #666;
    padding-top: 5px;
}
.leader td:first-child {
    color: #5080ff;
}
#player-list-pane h4 {
    display: inline-block;
}
#leave, #join {
    float: right
}
.active #join,
.waiting #join,
.paused #leave,
.waiting #leave {
    display: none;
}


/*********
/* MODALS
/*********/
.modal-header,
.modal-body,
.modal-footer {
    text-align: center;
}

.info {
    position: absolute;
    top: 1.2em;
    right: 1em;
    width: 32px;
    height: 32px;
    cursor: pointer;
}
.link {
    color: #5080ff;
    text-decoration: underline;
    cursor: pointer;
}
.disabled {
    color: #999;
    cursor: not-allowed;
}
